.p1{
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.p1 .add-chatee {
	background: gray;
	color: white;
	text-decoration: none;
	padding: 4px;
	border-radius: 5px;
}

.p1 .add-chatee:hover{
	background: #a29d9d;
}

.p1 .chat-init img{
    border-radius: 20px;
    clear: both;
}

.p1 .chat-init-str{
    background: black;
    padding: 5px 10px;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
