@import url('./css/colors.css');
@import url('./css/buttons.css');
@import url('./css/input.css');
@import url('./css/utility.css');

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: var(--color-4);
}

#app-base{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  color: var(--color-4);
}

#app-contacts{
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: var(--color-2);
}

#app-page{
  position: absolute;
  left: 50px;
  top: 50px;
  width: calc(100% - 50px);
  height: 100%;
}

#app-add-contact-btn{
  display: table;
  background: var(--color-6);
  color: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

#app-add-contact-btn p{
  text-align: center;
  padding: 0;
  margin: 0 auto;
  margin-top: -10px;
  user-select: none;
}

#app-top-bar{
  position: absolute;
  left: 50px;
  top: 0;
  width: calc(100% - 50px);
  height: 50px;
  background: var(--color-3);
}

#app-top-bar .user-photo{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background: gray;
}
